#app{
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 30px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#app main {
    margin-left: 30px;
}

@media (max-width: 1000px){/*quando for menor que 1000px de largura ele age*/
    #app{
        flex-direction: column;/*faz os devs aparecerem em colunas*/
    }

    #app main {/*tira a margim da lateral e coloca no topo*/
        margin-left: 0;
        margin-top: 30px;
    }

    #app aside{
        width: 100%;
    }
}
